*{
    font-family: sans-serif;
    /* border: 1px solid; */
}
h4{
    margin:0;
}
h1{
    font-size: 1rem;
}
p{
    font-size: 0.8rem;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position:center;
    bac
}
div.A{
    width: 80%;
}
div.B{
    width: 20%;
}
div.A1{
    display:flex;
}
div.A2{
    display:flex;
}
div.daniel{
    width: 70%;
    background-color: rgba(115, 63, 201);
    color: white;
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 450px;
    background-position-y: 20px;
}
div.jonathon{
    width: 30%;
    background-color: rgba(73, 84, 106);
    color: white;
}
div.jeanett{
    width:30%
}
div.patrick{
    width: 70%;
    background-color: rgba(25, 31, 45);
    color: white;
}
.patrick , .daniel, .jonathon , .jeanett, .Kira {
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 50px 50px 70px rgba(0, 0, 0, 0.211);
    border: 1px solid;
}
section.intro{
    display: flex;
    align-items: center;
    gap: 10px;
}
section.intro p{
    margin-top: 3px;
}
section.intro img{
    border-radius: 50%;
    height: 2.7rem;
}